@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Oswald:wght@200..700&display=swap');

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-oswald: 'Oswald', sans-serif;
	--color-bg-0: rgb(220, 238, 216);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--black: #1d1d1d;
	--green: #147f40;
	--tan: #c18e52;
	--green-light: #a8d5ba;
	--tan-light: #f3d5b5;
	--background-light: #f9f9f9;


	font-family: var(--font-body);
	color: var(--color-text);
}

* {
	transition: all 300ms ease;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-oswald);
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #fff;
	background-size: 100vw 100vh;
	/* background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%); */
}

h1,
h2 {
	line-height: 1.2;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
	font-family: 'Afacad Flux', sans-serif;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	font-family: 'Afacad Flux', sans-serif;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-oswald);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.container {
	width: 1300px;
	max-width: 90%;
	margin: 0 auto;
}

button,
.button {
	background: green;
	color: white;
	font-weight: bold;
	font-size: 0.9rem;
	padding: 12px 28px;
	border-radius: 25px;
}

button:hover,
.button:hover {
	background: var(--tan);
}

.error {
	color: firebrick;
	text-align: center;
}

.ql-snow {
	border-color: var(--green) !important;
}